.PaginationBox{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.searchbox{
    margin-top: 20px;
}

.boardMuiTable{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}