<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS와 JS는 static 폴더에서부터 경로 시작 -->
    <link href="/todo.css" rel="stylesheet">
</head>
<body>


<div class="todowrap"> <!--전체구역 -->
    <h1> 나만의 할일 목록 </h1>
    <div class="todo_top"> <!--쓰기 구역 -->
        <input  class="todoInput" type="text"/>
        <button onclick="postTodo()" type="button"> 등록 </button>
    </div>

    <div class="todo_bottom"> <!-- 출력 구역 -->

        <!-- 아래는 JS로 innerHTML로 넣을 코드들 예시로 작성함-->


    </div>
</div>
<!-- css/js/img 는 static 폴더에서부터 경로 시작 하므로 (static)생략 -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/todo.js" type="text/javascript"></script>
</body>
</html>